body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wd-word-break {
    word-break: break-all
}

.wd-profile-image{
    height: 48px;
    width: 48px;
    max-width: 48px;
    min-width: 48px;
    border-radius: 50%;
}
.wd-profile-image-comment{
    height: 48px;
    width: 48px;
    max-width: 48px;
    min-width: 48px;
    border-radius: 50%;
    float: left;
}
.wd-profile-image-large{
    height: 100px;
    width: 100px;
    max-width: 100px;
    min-width: 100px;
    border-radius: 50%;
}
.wd-card-image{
    height: 500px;
    width: 353px;
    max-width: 353px;
    min-width: 353px;
    max-height: 500px;
    max-width: 500px;
    float: left;
}
.wd-card-image-small{
    height: 200px;
    width: 141px;
    max-width: 141px;
    min-width: 141px;
    max-height: 200px;
    max-width: 200px;
    float: left;
}
.wd-float-right{
    float: right;
}

.wd-max-width{
    width: 100%;
}
